@model AionRhC_.Entities.Colaborador

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar Colaborador </h1>

<hr />
<div class="form-container">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label asp-for="NomeCompleto" class="control-label"> Nome Completo</label>
                    <input asp-for="NomeCompleto" class="form-control" />
                    <span asp-validation-for="NomeCompleto" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Cargo" class="control-label"></label>
                    <input asp-for="Cargo" class="form-control" />
                    <span asp-validation-for="Cargo" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label asp-for="Matricula" class="control-label"></label>
                    <input asp-for="Matricula" class="form-control" />
                    <span asp-validation-for="Matricula" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Setor" class="control-label"></label>
                    <input asp-for="Setor" class="form-control" />
                    <span asp-validation-for="Setor" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Situacao" class="control-label"></label>
                    <input asp-for="Situacao" class="form-control" />
                    <span asp-validation-for="Situacao" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label asp-for="Telefone" class="control-label"></label>
                    <input asp-for="Telefone" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="DataAdmissao" class="control-label">Data De Admissão</label>
                    <input asp-for="DataAdmissao" class="form-control" />
                    <span asp-validation-for="DataAdmissao" class="text-danger"></span>
                </div>
            </div>

            <div class="d-flex justify-content-between" style="margin-top: 5px;">
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                <input type="submit" value="Salvar Colaborador" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
